extends base.pug
block head
  meta(name='description' content='Berkeley\'s blog about coding, bikes, and crypto')

block main
  main.mb-auto.mt-12
    .divide-y.divide-gray-400
      .pt-6.pb-8.space-y-2.md_space-y-5
        h1.text-3xl.font-extrabold.leading-9.tracking-tight.text-gray-900.dark_text-gray-100.sm_text-4xl.sm_leading-10.md_text-6xl.md_leading-14
          | #{title}
        | !{content}
      ul.divide-y.divide-gray-400
        each post in collections.posts
          li.py-12
            article
              .space-y-2.xl_grid.xl_grid-cols-4.xl_space-y-0.xl_items-baseline
                dl
                  dt.sr-only Publish on
                  dd.text-base.font-medium.leading-6.text-indigo-700
                    time(datetime=post.date) #{dayjs(post.date).format('MMMM D, YYYY')}
                .space-y-5.xl_col-span-3
                  .space-y-6
                    div
                      a.h-12.text-2xl.font-bold.leading-8.tracking-tight.text-gray-900(href=post.url) #{post.data.title}
                      if _.size(filterTags(post.data.tags))
                        .flex.flex-wrap
                          each tag in filterTags(post.data.tags)
                            a.h-12.mr-3.text-sm.font-medium.uppercase.text-primary-500.hover_text-primary-600(href=`/tags/${tag}`)
                              | #{tag}

                    .prose.text-indigo-700.max-w-none #{post.data.summary}
                  a.h-12.text-base.font-medium.leading-6.text-primary-500.hover_text-primary-600(aria-label=`Read "${post.data.title}"` href=post.url)
                    | Read More →
